{% assign publication = include.publication %}

<div class="publication-item" style="margin-bottom: 0.9em;">
  <p class="publication-title" style="margin: 0 0 0.2em; font-size: 1em; line-height: 1.35;">
    <a href="{{ publication.link }}" style="color: var(--global-text-color); border-bottom: 0; text-decoration: none; font-weight: 700;">{{ publication.title }}</a>
  </p>
  <p class="publication-authors" style="margin: 0.1em 0; font-size: 1em; line-height: 1.35;">{{ publication.authors }}</p>
  <p class="publication-venue" style="margin: 0.1em 0; font-size: 1em; line-height: 1.35;">{{ publication.venue }}, {{ publication.date | date: "%Y" }}</p>
</div>
